version: '2.1'
orbs:
  aws-cli: circleci/aws-cli@3.1.3
jobs:
  Deployaws:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout 
      - run: |
            sudo npm run build
            aws s3api list-buckets --query 'Buckets[].Name'
workflows:
  awsTestFlow:
    jobs:
      - Deployaws