version: 2.1
orbs:
  aws-cli: circleci/aws-cli@3.1.3
jobs:
  - Deployaws:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout 
      - run: |
          aws s3api list-buckets --query 'Buckets[].Name'
workflow:
  awsTestFlow:
    jobs:
      - Deployaws